:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-light-color: #ffffff;
  --light-color: rgba(255, 255, 255, 0.6);
  --background-color: #2F303A;
  --light-btn: #F5F4FA;
  --icon-color:#AFB1B8;
  --icon-footer-color: #FFFFFF1A;
  --primary-dark-color: #000000;
  --btcolor-hero: #188ce8;
}

.hidden-header {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.link {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.btn-size {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  text-align: center;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo__dark {
  color: var(--primary-dark-color);
}

.footer-logo-light {
  color: var(--primary-light-color);
}

.footer-logo.link {
  margin-bottom: 20px;
  display: inline-block;
}

.header-logo.link {
  margin-right: 93px;
  display: inline-block;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-logo.link {
    margin-right: 88px;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 150ms linear 150ms;
}
@media screen and (max-width: 1199px) {
  .backdrop.is-hidden {
    overflow-y: scroll;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: auto;
  z-index: 4;
}
@media screen and (max-width: 480px) {
  .backdrop {
    padding: 93px 15px 94px 15px;
  }
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 500ms;
  width: 100%;
  max-width: 528px;
  min-height: 581px;
  background-color: var(--primary-light-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px 40px;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background: var(--primary-light-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.close-icon {
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon:hover {
  fill: var(--accent-color);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 12px;
  margin-top: 0;
  padding: 0;
}

.form-field {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.form-icon {
  position: absolute;
  top: 40%;
  left: 15px;
  transform: translateY(40%);
  fill: var(--);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.form-coment {
  position: relative;
  display: block;
  margin-bottom: 20px;
}

.form-agreement {
  margin-bottom: 30px;
}

.label {
  display: inline-block;
  margin-bottom: 4px;
}

.form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.form-input:focus {
  border-color: var(--accent-color);
  outline: none;
}
.form-input:focus + .form-icon {
  fill: var(--accent-color);
}

.form-comment {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.form-comment:focus {
  border-color: var(--accent-color);
  outline: none;
}
.form-comment::placeholder {
  font-size: 12px;
  line-height: 1.17px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.policy {
  display: inline-block;
}
.policy a {
  color: var(--accent-color);
  border-bottom: 1px solid currentColor;
  display: inline-block;
  line-height: 0.85;
}
@media screen and (max-width: 1199px) {
  .policy {
    max-width: 100%;
  }
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}
.checkbox:checked ~ .agreement::before {
  background-color: var(--accent-color);
  background-image: url(../images/sprite/check.svg);
  background-size: contain;
  border-color: var(--accent-color);
  background-origin: border-box;
}

.agreement {
  width: 448px;
  margin-top: 0;
  display: inline-block;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  padding-left: 14px;
}
@media screen and (max-width: 1199px) {
  .agreement {
    font-size: 12px;
    line-height: 1.16;
    padding-left: 0;
    max-width: 100%;
  }
}
.agreement::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 9px;
  vertical-align: text-top;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  background-color: var(--primary-light-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-button {
  display: block;
  min-width: 89px;
  padding: 10px 55px 10px 56px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  text-align: center;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-light-color);
  border: none;
}

.thumb {
  position: relative;
  width: 100%;
  height: 294px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .thumb {
    display: flex;
  }
}

.thumb-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-overlay {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--primary-light-color);
  padding-bottom: 63px;
  padding-top: 63px;
  padding-right: 24px;
  padding-left: 24px;
  margin: 0;
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  z-index: 3;
  background-color: var(--primary-light-color);
  transform: translateX(1000%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}
.mob-menu .container.mob-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
  padding-top: 10px;
  padding-left: 40px;
  padding-bottom: 48px;
}
.mob-menu.is-hidden {
  transform: translate(0);
}

.menu-mob-open {
  margin-left: auto;
  border: none;
  padding: 0;
  height: 40px;
  background: var(--primary-light-color);
}
.menu-mob-open:hover {
  fill: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .menu-mob-open {
    display: none;
  }
}

.menu-mob-close {
  display: block;
  margin-left: auto;
  border: none;
  padding: 0;
  height: 40px;
  background: var(--primary-light-color);
}
.menu-mob-close:hover {
  fill: var(--accent-color);
}

.menu-mob-site {
  margin-right: auto;
  flex-grow: 1;
}

.menu-mob-site-nav__item .link {
  display: flex;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  text-align: center;
  text-decoration: none;
  color: var(--title-text-color);
}
.menu-mob-site-nav__item .link:hover, .menu-mob-site-nav__item .link:focus {
  color: var(--accent-color);
}

.menu-mob-site-nav__item {
  margin-bottom: 32px;
}
.menu-mob-site-nav__item:last-child {
  margin-bottom: 0;
}

.menu-mob__connection {
  margin-right: auto;
}

.menu-mob-address__nav__item {
  margin-bottom: 32px;
}
.menu-mob-address__nav__item:last-child {
  margin-bottom: 64px;
}

.menu-mob-address__nav__connection.link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  padding-left: 0;
  color: var(--accent-color);
}

.menu-mob-address__nav__connection__second {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  color: var(--primary-text-color);
}

.mob-join {
  display: flex;
}

.mob-join_nav {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  margin-right: 10px;
}
.mob-join_nav:last-child {
  border: 0;
}

.mob-join__nav__connection.link {
  font-weight: 500;
  line-height: 22px;
  font-size: 1.22;
  letter-spacing: 0.02em;
  padding-right: 10px;
  color: var(--accent-color);
}
@media screen and (max-width: 480px) {
  .mob-join__nav__connection.link {
    font-size: 3.4vw;
  }
}

.header {
  border-bottom: 1px solid #ECECEC;
}
.header .container {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .header {
    position: fixed;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 3;
    background-color: var(--primary-light-color);
  }
}

.site__nav {
  display: none;
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site__nav .site-nav__item {
  margin-right: 50px;
}
.site__nav .site-nav__item:last-child {
  margin-right: 0;
}
@media screen and (min-width: 768px) {
  .site__nav {
    display: flex;
  }
}

.site {
  display: flex;
  align-items: center;
}

.site__nav .link {
  display: inline-block;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--title-text-color);
}
.site__nav .link:hover, .site__nav .link:focus, .site__nav .link.current {
  color: var(--accent-color);
}

.link.current {
  position: relative;
}
.link.current::after {
  display: inline-block;
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .link.current {
    bottom: -2px;
  }
}

.address__nav__connection {
  align-items: center;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__nav__connection:hover, .address__nav__connection:focus {
  color: var(--accent-color);
}

.address__nav.site {
  display: flex;
  margin-left: auto;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-left: 0;
}
@media screen and (max-width: 767px) {
  .address__nav.site {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .address__nav.site {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    font-size: 12px;
    line-height: 1.17;
    margin-left: 69px;
  }
}

.address__nav__item {
  padding-top: 32px;
  padding-bottom: 32px;
  margin-right: 50px;
  fill: var(--primary-text-color);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .address__nav__item {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .address__nav__item:last-child {
    margin-bottom: 0;
  }
}

.address__nav__item:last-child {
  margin-right: 0;
}

.address__icon {
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .address__icon {
    margin-right: 8px;
  }
}
.address__nav__item .link:hover .address__icon, .address__nav__item.link:focus .address__icon {
  fill: var(--accent-color);
}

.hero {
  background-color: var(--background-color);
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  max-width: 1600px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 767px) {
  .hero {
    padding-top: 178px;
  }
}

.hero-content__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
  margin-top: 0;
  color: var(--primary-light-color);
}
@media screen and (min-width: 1200px) {
  .hero-content__title {
    font-size: 44px;
    line-height: 1.4;
  }
}

.hero-button {
  display: block;
  margin: auto;
  cursor: pointer;
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: 1px solid transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--primary-light-color);
  background-color: var(--accent-color);
}
.hero-button:hover, .hero-button:focus {
  background-color: var(--btcolor-hero);
}

@media screen and (min-width: 768px) {
  .special-fact {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .special-item {
    margin-bottom: 30px;
  }
  .special-item:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .special-item {
    margin: 15px;
    flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .special-item {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.special-list-icon {
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
  background-color: var(--light-btn);
}

.special-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
}
@media screen and (max-width: 767px) {
  .special-title {
    text-align: center;
  }
}

.special-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;
}

.study {
  padding-top: 0;
}
@media screen and (max-width: 1199px) {
  .study {
    display: none;
  }
}

.study-section {
  display: flex;
  padding-left: 0;
  margin: 0;
}

.foto-study {
  margin-right: 30px;
  position: relative;
}
.foto-study:last-child {
  margin-right: 0;
}

.image-item-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-light-color);
}

.study-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 50px;
}

.team {
  background-color: #F5F4FA;
}

@media screen and (min-width: 768px) {
  .team-section.list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.team-cards {
  text-align: center;
  padding: 30px 20px 30px 20px;
}

.team-section:last-child {
  margin-right: 0;
}

.team-chapter {
  background-color: var(--primary-light-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 767px) {
  .team-chapter {
    margin-bottom: 30px;
  }
  .team-chapter:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .team-chapter {
    margin: 15px;
    flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-chapter {
    margin: 15px;
    flex-basis: calc((100% - 120px) / 4);
  }
}

.team-header {
  margin-top: 0;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team-header {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
}

.team-text {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 16px;
}

.team-soc-item + .team-soc-item {
  margin-left: 10px;
}

.team-soc-link {
  width: 44px;
  height: 44px;
  background-color: var(--primary-light-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-link:hover, .team-soc-link:focus {
  background-color: var(--accent-color);
  fill: var(--primary-light-color);
}

.team-soc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.client {
  height: 92px;
  margin: 15px;
  flex-basis: calc((100% - 60px) / 2);
}
@media screen and (min-width: 768px) {
  .client {
    margin: 15px;
    flex-basis: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .client {
    margin: 15px;
    flex-basis: calc((100% - 180px) / 6);
  }
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
}
.client-link:hover, .client-link:focus {
  border-color: var(--accent-color);
}

.client-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  margin-top: 0;
  color: var(--title-text-color);
}
@media screen and (min-width: 1200px) {
  .client-title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.client-icon {
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-link:hover .client-icon, .client-link:focus .client-icon {
  fill: var(--accent-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer {
  background-color: var(--background-color);
}
.footer .container {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}
@media screen and (max-width: 767px) {
  .footer .container {
    display: block;
  }
}

.footer-box {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 1199px) {
  .footer-box {
    text-align: center;
    justify-content: space-around;
  }
}
@media screen and (max-width: 767px) {
  .footer-box {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .footer-box {
    flex-wrap: nowrap;
  }
}

.address-nav,
.address-nav-secondary {
  margin: 0;
  padding: 0;
  font-size: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.address-nav-address .link {
  color: var(--primary-light-color);
  margin-bottom: 9px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-nav-address .link.link:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 1200px) {
  .address-nav-address .link {
    min-width: 220px;
  }
}

.address-nav-secondary .link {
  color: var(--light-color);
}
.address-nav-secondary .link.link:focus, .address-nav-secondary .link.link:hover {
  color: var(--accent-color);
}

.address-nav .link:focus,
.address-nav .link:hover {
  color: var(--accent-color);
}

.address-box {
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .address-box {
    margin: 0;
  }
}

.join-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-light-color);
  margin-bottom: 20px;
  margin-top: 0;
}

.join-link {
  width: 44px;
  height: 44px;
  background-color: var(--icon-footer-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: fill 250ms, cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: var(--accent-color);
}
.join-link:hover, .join-link:focus {
  background-color: var(--accent-color);
}

.join-icon {
  fill: var(--primary-light-color);
}

.join-item + .join-item {
  margin-left: 10px;
}

.footer-section-join {
  display: block;
  align-items: center;
  justify-content: center;
  margin: 0;
}
@media screen and (min-width: 1200px) {
  .footer-section-join {
    margin-left: 70px;
  }
}

.join-list {
  display: flex;
}
@media screen and (max-width: 767px) {
  .join-list {
    justify-content: center;
  }
}

.subscription {
  margin-left: 0;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .subscription {
    margin-left: 93px;
  }
}

.subscription-title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-light-color);
}
@media screen and (max-width: 767px) {
  .subscription-title {
    margin-top: 60px;
  }
}

.subscription-leble {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}
@media screen and (min-width: 1200px) {
  .subscription-leble {
    display: flex;
  }
}

.subscription-input {
  width: 450px;
  height: 50px;
  padding-left: 16px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: var(--background-color);
}
@media screen and (max-width: 767px) {
  .subscription-input {
    margin-left: 0;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .subscription-input {
    width: 358px;
    margin-bottom: 0;
  }
}

.subscription-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  color: var(--primary-light-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 1200px) {
  .subscription-btn {
    margin-left: 12px;
  }
}

.subscription-icon {
  margin-left: 10px;
  fill: var(--primary-light-color);
  align-items: center;
}/*# sourceMappingURL=main.css.map */