:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-light-color: #ffffff;
  --light-color: rgba(255, 255, 255, 0.6);
  --background-color: #2F303A;
  --light-btn: #F5F4FA;
  --icon-color:#AFB1B8;
  --icon-footer-color: #FFFFFF1A;
  --primary-dark-color: #000000;
  --btcolor-hero: #188ce8;
}

.hidden-header {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.link {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.btn-size {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  text-align: center;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.header__logo.dark {
  color: var(--primary-dark-color);
}

.footer-logo-light {
  color: var(--primary-light-color);
}

.footer-logo.link {
  margin-bottom: 20px;
  display: inline-block;
}

.header-logo.link {
  margin-right: 93px;
  display: inline-block;
}

.thumb {
  position: relative;
  width: 370px;
  height: 294px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.thumb-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-overlay {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--primary-light-color);
  padding-bottom: 63px;
  padding-top: 63px;
  padding-right: 24px;
  padding-left: 24px;
  margin: 0;
}

.header {
  border-bottom: 1px solid #ECECEC;
}
.header .container {
  display: flex;
  align-items: center;
}

.site__nav {
  display: flex;
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site__nav .site-nav-item {
  margin-right: 50px;
}
.site__nav .site-nav-item:last-child {
  margin-right: 0;
}

.site {
  display: flex;
  align-items: center;
}

.site__nav .link {
  display: inline-block;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--title-text-color);
}
.site__nav .link:hover, .site__nav .link:focus, .site__nav .link.current {
  color: var(--accent-color);
}

.link.current {
  position: relative;
}
.link.current::after {
  display: inline-block;
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.address-nav {
  align-items: center;
  display: flex;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-nav:hover, .address-nav:focus {
  color: var(--accent-color);
}

.header-address-nav {
  margin-left: auto;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-left: 0;
}

.address-item {
  margin-left: auto;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-right: 50px;
  fill: var(--primary-text-color);
}

.address-item:last-child {
  margin-right: 0;
}

.address-icon {
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-item .link:hover .address-icon, .address-item .link:focus .address-icon {
  fill: var(--accent-color);
}

.btn-size-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-size-portfolio:hover, .btn-size-portfolio:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button {
  color: var(--title-text-color);
  background-color: var(--primary-light-color);
  cursor: pointer;
  text-transform: none;
}

.button-link.list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.button-link.list .btn {
  display: inline-block;
  margin-right: 8px;
}
.button-link.list:last-child {
  margin-right: 0;
}
.button-link.list .btn:last-child {
  margin-right: 0;
}

.button-card-nav {
  border-radius: 4px;
  padding: 6px 22px;
  margin-top: 0;
  min-width: auto;
  cursor: pointer;
  border: 1px solid transparent;
  color: var(--title-text-color);
  background-color: var(--light-btn);
}
.button-card-nav:hover, .button-card-nav:focus {
  color: var(--primary-light-color);
  background-color: var(--accent-color);
}

.card-link {
  display: block;
  text-decoration: none;
}
.card-link:hover, .card-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-title {
  display: block;
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 4px;
}

.card-text {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--primary-text-color);
}

.card-net.list {
  padding-left: 0;
  padding-right: 0;
  margin-top: 50px;
  margin-bottom: -30px;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.card-flex {
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 30px;
}
.card-flex:nth-child(3n) {
  margin-right: 0;
}
.card-flex:hover .thumb-overlay {
  transform: translateY(0);
}

.cards-cards {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
  border: 1px solid #EEEEEE;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer {
  background-color: var(--background-color);
}
.footer .container {
  display: flex;
  align-items: baseline;
}

.address-nav,
.address-nav-secondary {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.address-nav-address .link {
  color: var(--primary-light-color);
  margin-bottom: 9px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-nav-secondary .link {
  color: var(--light-color);
}

.address-nav .link:focus,
.address-nav .link:hover {
  color: var(--accent-color);
}

.address-nav-secondary .link:focus,
.address-nav-secondary .link:hover {
  color: var(--accent-color);
}

.address-nav-address .link:last-child {
  margin-bottom: 0;
}

.address-nav,
.address-nav-secondary {
  font-size: normal;
}

.address-box {
  flex-grow: 1;
}

.join-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-light-color);
  margin-bottom: 20px;
  margin-top: 0;
}

.join-link {
  width: 44px;
  height: 44px;
  background-color: var(--icon-footer-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: fill 250ms, cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: var(--accent-color);
}
.join-link:hover, .join-link:focus {
  background-color: var(--accent-color);
}

.join-icon {
  fill: var(--primary-light-color);
}

.join-item + .join-item {
  margin-left: 10px;
}

.footer-section-join {
  margin-left: auto;
  align-items: center;
  justify-content: center;
  display: block;
  margin-left: 70px;
}

.join-list {
  display: flex;
}

.subscription {
  margin-left: 93px;
}

.subscription-title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-light-color);
}

.subscription-leble {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  display: flex;
}
.subscription-leble + .subscription-btn {
  display: flex;
}

.subscription-input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  margin-right: 12px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: var(--background-color);
}

.subscription-btn {
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  color: var(--primary-light-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.subscription-icon {
  margin-left: 10px;
  fill: var(--primary-light-color);
  align-items: center;
}/*# sourceMappingURL=portfolio.css.map */