.clients-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

.client {
    height: 92px;
    margin: 15px;
    flex-basis: calc((100% - 60px) / 2);

    @media screen and (min-width: 768px) {
        margin: 15px;
        flex-basis: calc((100% - 90px) / 3);
    }

    @media screen and (min-width: 1200px) {
        margin: 15px;
        flex-basis: calc((100% - 180px) / 6);
    }
}

.client-link {
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 100%;
border: 1px solid var(--icon-color);
border-radius: 4px;
&:hover,
&:focus {
    border-color: var(--accent-color);
    }
}

.client-title {
font-weight: 700;
font-size: 28px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
margin-bottom: 30px;
margin-top: 0;

color: var(--title-text-color);

@media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
}
}

.client-icon {
fill: var(--icon-color);

transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
border 250ms cubic-bezier(0.4, 0, 0.2, 1);
.client-link:hover &,
.client-link:focus &{
fill: var(--accent-color);
}
}