.hero {
    background-color: var(--background-color);
padding-top: 118px;
padding-bottom: 118px;
text-align: center;

max-width: 1600px;
background-image: 
    linear-gradient(rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
    url(../images/main/hero.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;

@media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    }

@media screen and (max-width: 767px) {
        padding-top: 178px;
        }

@media screen and (min-device-pixel-ratio: 2),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (-o-min-device-pixel-ratio: 2/1),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        .hero {
        background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url(../images/desktop/bcg@2x.jpg);
        }
    }
}

.hero-content__title {
font-weight: 900;
font-size: 26px;
line-height: 1.6;
letter-spacing: 0.06em;
margin-bottom: 30px;
margin-top: 0;

color: var(--primary-light-color);


@media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.4;
}
}

.hero-button {
display: block;
margin: auto;
cursor: pointer;
min-width: 200px;
height: 50px;
font-weight: 700;
line-height: 1.875;
letter-spacing: 0.06em;
border-radius: 4px;
border: 1px solid transparent;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--primary-light-color);
    background-color: var(--accent-color);

    &:hover,
    &:focus {
        background-color: var(--btcolor-hero);
    }
}