.special-fact {
@media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}
}

.special-item {

    @media screen and (max-width: 767px) {
        margin-bottom: 30px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    @media screen and (min-width: 768px) {
        margin: 15px;
        flex-basis: calc((100% - 60px) / 2);
    }

    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 120px) / 4);
    }
}

.special-list-icon {
    display: flex;
    height: 120px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
    background-color: var(--light-btn);
}

.special-title {
font-weight: 700;
font-size: 14px;
line-height: 1.5;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-top: 0;
margin-bottom: 10px;

    color: var(--title-text-color);

    @media screen and (max-width: 767px) {
        text-align: center;
    }
}

.special-text {
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
margin-top: 0;
margin-bottom: 0;
}


