.team {
    padding-bottom: 94px;
    padding-top: 94px;
}

.team {
background-color: #F5F4FA;
}

.team-section.list {
    display: inline-flex;
}

.team-cards {
    text-align: center;
    padding: 30px 20px 30px 20px;
}
    
.team-section:last-child {
    margin-right: 0;
}

.team-chapter {
    background-color: var(--primary-light-color);

box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
margin-right: 30px;
width: 270px;
}

.team-header {
margin-top: 0;
font-weight: 700;
font-size: 36px;
line-height: 1.42;
text-align: center;
letter-spacing: 0.03em;
    color: var(--title-text-color);

margin-bottom: 50px;
}

.team-title {
font-weight: 500;
font-size: 16px;
line-height: 1.2;
letter-spacing: 0.03em;
margin-top: 0;
margin-bottom: 10px;
    color: var(--title-text-color);
}

.team-text {
font-size: 16px;
line-height: 1.2;
letter-spacing: 0.03em;

margin-top: 0;
margin-bottom: 16px;   
}

.team-soc-item + .team-soc-item {
    margin-left: 10px;
}

.team-soc-link {
    width: 44px;
    height: 44px;
    background-color: var(--primary-light-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--icon-color);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    &:hover,
    &:focus {
    background-color: var(--accent-color);
    fill: var(--primary-light-color);
}
}

.team-soc {
    display: flex;
    justify-content: center;
    align-items: center;
}

