.header {
    text-decoration: none;
}

.container {
    width: 1200px;
    padding: 0 16px;
    }

// .header__container {
// }
// .header__logo {
// }
// .header__logo__icon {
// }
// .header__nav {
// }
.header__nav__list {
    display: flex;
    text-decoration: none;
}
// .header__nav__item--current {
// }
// .header__nav__item {
// }
// .header__button-menu {
// }
// .button--white {
// }
// .menu-mobile-open {
// }
// .mobile__menu {
// }
// .is-hidden {
// }
// .mobile__menu__container {
// }
// .menu-toggle {
// }
// .js-close-menu {
// }
// .menu-mobile-close {
// }
// .mobile__menu__nav__list {
// }
// .mobile__menu__nav__item--current {
// }
// .mobile__menu__list {
// }
// .mobile__menu__nav__item {
// }