:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;    
    --accent-color: #2196f3;
    --primary-light-color: #ffffff;
    --light-color: rgba(255, 255, 255, 0.6);
    --background-color: #2F303A;
    --light-btn: #F5F4FA;
    --icon-color:#AFB1B8;
    --icon-footer-color: #FFFFFF1A;
    --primary-dark-color: #000000;
    --btcolor-hero: #188ce8;
}
